@import "../../../variables";
@import "../../../media-queries";

:host ul {
  display: grid;
  align-items: center;
  /* Number of columns: Wrap columns into new rows automatically when needed. */
  /* Columns are a minimum of 240px on small screens and a maximum of 1fr on larger screens. Columnns are fitted automatically in the available space. */
  grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
  grid-gap: 1.25em;
  padding: 0 1.5em;
}

form {
  margin: 1em 0 1em 0;
}

form input {
  margin-bottom: 0.5em;
}

.searchApiContainer {
  display: grid;
  align-items: center;
  padding: 0 1.5em
}

h3, p {
  margin-bottom: 0.5em;
  color: $text-color-active;
}

//img {
//  /* Prevent images from overflowing. */
//  max-width: 100%;
//  height: auto;
//  /* Removed from the normal document flow. Stays at the default position which is its parent div. */
//  position: absolute;
//  /* Set coordinates to zero. The element now needs to know which parent is its reference point for its position. */
//  left: 0;
//  top: 0;
//}
//
//#image-container {
//  /* Container for absolute positioned elements. */
//  position: relative;
//  /* Sets the aspect ratio to 16:9 -> A width of " " % of the parent container. */
//  padding-top: 56.25%;
//  /* Images that have a bigger height than the parent container are cropped. */
//  overflow: hidden;
//}

  /* Receives a box shadow on hover. */
#article-card {
  margin-bottom: 1.2em;
  /* Define property name the transition is tied to, duration and timing speed. */
  transition: box-shadow .25s linear;
}

  /* Focus for mobile and hover for web */
#article-card:hover, #article-card:focus {
  box-shadow: 3px 3px 7px rgba(240, 162, 2, 0.9);
}
