@import "../../../variables";
@import "../../../media-queries";

:host ul {
  display: grid;
  align-items: center;
  /* Number of columns: Wrap columns into new rows automatically when needed. */
  /* Columns are a minimum of 240px on small screens and a maximum of 1fr on larger screens. Columnns are fitted automatically in the available space. */
  grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
  grid-gap: 1.25em;
  padding: 0 1.5em;
}

form {
  margin: 1em 0 1em 0;
}

form input {
  width: 26em;
}

.input-container {
  display: grid;
  margin: 0 auto;
}

.searchApiContainer {
  display: grid;
  align-items: center;
  padding: 0 1.5em
}

h3, p {
  margin-bottom: 0.5em;
  color: $text-color-active;
}

  /* Receives a box shadow on hover. */
#article-card {
  margin-bottom: 1.2em;
  /* Define property name the transition is tied to, duration and timing speed. */
  transition: box-shadow .25s linear;
}

  /* Focus for mobile and hover for web */
#article-card:hover, #article-card:focus {
  box-shadow: 3px 3px 7px rgba(240, 162, 2, 0.9);
}
