<!-- Send request to api and reset form. -->
<form #inputForm="ngForm" class="searchApiContainer" (ngSubmit)="onSubmit(apiInput.value)">
  <div class="input-container">
    <label for="inputField">Search the news: </label>
    <input type="text" id="inputField" #apiInput>
  </div>
    <button type="submit">Search</button>
</form>

<div *ngIf="loadingAnimation" class="loadingContainer">
  <i class="fas fa-cog fa-10x show" id="loading"></i>
</div>

<ul>
  <!-- Navigate to article component and pass state of article property. -->
  <a [routerLink]="['/article']" [state]="{ state: article }" *ngFor="let article of articles" id="article-card">
    <li>
      <h3>{{article.source.name}}</h3>
      <p>{{article.title}}</p>
      <div id="image-container">
      <img src="{{article.urlToImage}}">
      </div>
    </li>
  </a>
</ul>
