@import "../../../variables";
@import "../../../media-queries";

:host ul {
  display: grid;
  align-items: center;
  /* Number of columns: Wrap columns into new rows automatically when needed. */
  /* Columns are a minimum of 240px on small screens and a maximum of 1fr on larger screens. Columnns are fitted automatically in the available space. */
  grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
  grid-gap: 1.25em;
  padding: 0 1.5em;
}

form {
  margin-bottom: 1em;
}

form input {
  width: 26em;
  margin-bottom: 1em;
}

.input-container {
  display: grid;
  margin: 0 auto;
}

h3, p {
  margin-bottom: 0.5em;
  color: $text-color-active;
}

  /* Receives a box shadow on hover. */
#article-card {
  margin-bottom: 1.2em;
  /* Define property name the transition is tied to, duration and timing speed. */
  transition: box-shadow .25s linear;
}

  /* Focus for mobile and hover for web */
#article-card:hover, #article-card:focus {
  box-shadow: 3px 3px 7px rgba(240, 162, 2, 0.9);
}

/* Styles for responsive images. */

img {
  /* Prevent images from overflowing. */
  max-width: 100%;
  height: auto;
  /* Removed from the normal document flow. Stays at the default position which is its parent div. */
  position: absolute;
  /* Set coordinates to zero. The element now needs to know which parent is its reference point for its position. */
  left: 0;
  top: 0;
}

#image-container {
  /* Container for absolute positioned elements. */
  position: relative;
  /* Sets the aspect ratio to 16:9 -> A width of " " % of the parent container. */
  padding-top: 56.25%;
  /* Images that have a bigger height than the parent container are cropped. */
  overflow: hidden;
}

@include media('small') {
  .searchApiContainer {
    display: grid;
    align-items: center;
    padding: 0 1.5em;
  }
  .searchApiContainer button {
    margin: 0 auto;
  }
}

@media only screen and (min-width: 48em) and (max-width: 64em) {
  .searchApiContainer {
    padding: 0 1.5em
  }
}

@media only screen and (min-width: 64em) and (max-width: 85.375em) {
  .searchApiContainer {
    padding: 0 1.5em
  }
}

@media only screen and (min-width: 85.375em) and (max-width: 120em) {
  .searchApiContainer {
    padding: 0 1.5em
  }
}
