@import "../../../variables";

:host {
  display: grid;
  align-items: center;
  padding: 0 1.5em
}

a {
  text-align: center;
}

#chart {
  text-align: center;
}

/* Responsive svg container. */

.svg-container {
  display: inline-block;
  position: relative;
  width: 100%;
  /* Aspect ration 1:1 */
  padding-bottom: 100%;
  vertical-align: middle;
  overflow: hidden;
}

.svg-responsive {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
}
