@import "../../../variables";
@import "../../../media-queries";

:host {
  display: grid;
  align-items: center;
  padding: 0 1.5em
}

a {
  text-align: center;
}

.fade-in {
  animation: fadeIn ease 5s
}

@keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

///* Responsive svg container. */
//
//.svg-container {
//  display: inline-block;
//  position: relative;
//  width: 100%;
//  padding-bottom: 1em;
//  vertical-align: middle;
//  overflow: hidden;
//}
//
//.svg-responsive {
//  display: inline-block;
//  position: absolute;
//  top: 0;
//  left: 0;
//}

@media only screen and (min-width: 48em) and (max-width: 64em) {
  #chart {
    margin: 0 10% 0 10%;
  }
}

@media only screen and (min-width: 64em) and (max-width: 85.375em) {
  #chart {
    margin: 0 20% 0 20%;
  }
}

@media only screen and (min-width: 85.375em) and (max-width: 120em) {
  #chart {
    margin: 0 25% 0 25%;
  }
}
