@import "../../../media-queries";

:host {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 1.5em;
  //margin: 0 15%;
}

a {
  text-align: center;
}

h3 {
  margin: 0.5em 0 0.5em 0;
}

p {
  margin: 0.5em 0 0.5em 0;
}

h4 {
  margin-bottom: 0.1em;
}

@include media('small') {
  img {
    /* Prevent images from overflowing. */
    max-width: 100%;
    height: auto;
    /* Removed from the normal document flow. Stays at the default position which is its parent div. */
    position: absolute;
    /* Set coordinates to zero. The element now needs to know which parent is its reference point for its position. */
    left: 0;
    top: 0;
  }
  #image-container {
    /* Container for absolute positioned elements. */
    position: relative;
    /* Sets the aspect ratio to 16:9 -> A width of " " % of the parent container. */
    padding-top: 56.25%;
    /* Images that have a bigger height than the parent container are cropped. */
    overflow: hidden;
  }
}

