\:host
  display: grid

#navbar
  background: linear-gradient(347deg, rgba(2,0,36,1) 59%, rgba(132,132,152,1) 100%)
  overflow: auto

.navitem
  margin: 0.9em auto

.navlink
  color: #ffffff
  font-size: 1.5em
