html {
  height: 100%;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Exo 2", "Roboto", "Open Sans", sans-serif !important;
  font-size: 16px;
  /* Prevents responsive Css grid from collapsing. */
  min-height: 100vh;
}

li {
  list-style-type: none;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}
